:root {

  --main-color: #6FC48F;
  --secundary-color: #1F2B44;
  --secundary-color-light: #2c4069;
  --dark-color: #1B1D28;
  --light-color: #FFFFFF;
  --gray-color: #6B6D78;
  --blue-color: #638FE6;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body { background-color: var(--dark-color); }

::-webkit-scrollbar {
  width: 1rem;
  height: 100%;
  background-color: var(--secundary-color);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 2rem;
}

/***** clases genericas *****/

.size-100 { 
  min-height: 100vh;
  width: 99vw;
  overflow-x: hidden;
}

.titulo { 
  font-size: 7rem; 
  font-weight: 900;
  text-align: center;

  background-image: linear-gradient(90deg, var(--blue-color) , var(--main-color));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.parrafo {
  width: 35rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1.9rem;

  color: var(--main-color);
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}

/***** End clases genericas *****/


/***** css de secciones *****/

.inicio {
  position: relative;
  flex-direction: column;
}

.inicio__titulo {
  width: 100%;
  height: 100%;
  /* animation: focus-in-contract 1s linear 0s 1 normal none; */
}

.animation-titulo {
  animation: focus-in-contract 1s linear 0s 1 normal none;
}

@keyframes focus-in-contract {
			
  0% {
    letter-spacing: 2rem;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}

.inicio__icons-floating {
  position: absolute;
  top: 0;
  width: 5rem;
  
  filter: drop-shadow(0 0 6rem var(--blue-color));

}

.six-sax { animation: six-sax 1.5s infinite alternate linear; }
.six-sax2 { animation: six-sax2 1.5s infinite alternate linear; }

@keyframes six-sax {
  to {
    transform: translateY(7rem);
  }
}


@keyframes six-sax2 {
  to {
    transform: translateY(-7rem);
  }
}

.inicio__icons-floating:nth-child(3) {
  left: 15%;
  top: 10%;
}
.inicio__icons-floating:nth-child(4) {
  right: 10%;
  top: 40%;
}
.inicio__icons-floating:nth-child(5) {
  left: 50%;
  top: 10%;
}
.inicio__icons-floating:nth-child(6) {
  left: 15%;
  top: 40%;
}
/* git */
.inicio__icons-floating:nth-child(7) {
  left: 60%;
  top: 40%;
}
/*  gitlab */
.inicio__icons-floating:nth-child(8) {
  left: 35%;
  top: 40%;
}
.inicio__icons-floating:nth-child(9) {
  left: 3%;
  top: 2%;
}
.inicio__icons-floating:nth-child(10) {
  left: 30%;
  top: 10%;
}
.inicio__icons-floating:nth-child(11) {
  left: 5%;
  top: 30%;
}
/* logo de maven */
.inicio__icons-floating:nth-child(12) {
  right: 5%;
  top: 25%;
  width: 15rem;
  display: none;
}
.inicio__icons-floating:nth-child(13) {
  right: 20%;
  top: 10%;
}

.sec1 { flex-direction: column; }


/***** End css de secciones *****/



/* .sec1__imagen{
  width: 80rem;
} */


/***** TIMELINE *****/

.timeline {
  display: grid;
  grid-template-rows: repeat(6, 50vh);
  grid-template-columns: 49.5vw 1fr 49.5vw;
  gap: 2rem;
  place-items: center;
  padding: 2rem;
}

.line {
  width: 1vw;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/7;
  
  background-color: var(--secundary-color);
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 50vh);
  align-items: center;
  justify-content: center;
  gap:1rem;

  border-radius: 1vh;

}

.date {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background-color: var(--main-color);
  color: var(--light-color);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  box-shadow: 0 0 0 .8rem var(--secundary-color),
              0 0 0 1.6rem var(--main-color);

}

.date:nth-child(odd):after {
  content: "";
  position: absolute;
  right: 110%;
  display: inline-block;
  width: 30rem;
  height: 1rem;
  background-color: var(--secundary-color);
  border-radius: 1rem;
}

.date:nth-child(even):after {
  content: "";
  position: absolute;
  left: 110%;
  display: inline-block;
  width: 30rem;
  height: 1rem;
  background-color: var(--secundary-color);
  border-radius: 1rem;
}

.card {
  position: relative;
  height: 50vh;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 2rem;

  background-color: var(--secundary-color);
  color: var(--main-color);
  transition: all 500ms ease;

}

.card__titulo {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}


.card:hover  > .card__descripcion {
  clip-path: circle(200.0% at 0 0);
}

.card__descripcion {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  text-align: left;
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;

  background-color: var(--secundary-color-light);
  color: var(--light-color);
  transition: all 600ms ease;

  clip-path: circle(0.0% at 0 0);
}

/* para poder mover cada una de las card */
.card:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}
.card:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}

.card:nth-child(5) {
  grid-column: 3;
  grid-row: 4;
}

.card:nth-child(6) {
  grid-column: 1;
  grid-row: 5;
}

.card:nth-child(7) {
  grid-column: 3;
  grid-row: 6;
}

/***** End TIMELINE *****/


/***** IMG *****/

.imagen-fondo {
  position: absolute; /* Posición absoluta */
  top: 0; /* Se coloca en la parte superior */
  left: 0; /* Se coloca a la izquierda */
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  z-index: -1; /* Colocar la imagen detrás del contenido */
  background-image: url("devops1.jpg");
}

/* Estilos para centrar y ajustar el tamaño del gif */
.centered-gif {
  display: block;
  margin: 0 auto;
  width: 75%; /* Cambia el valor según tus preferencias */
  height: auto; /* Para mantener la proporción original */
}


/***** End IMG *****/


/***** MEDIAQUERIES *****/
@media screen and (min-width: 70rem) {
  .titulo {
    font-size: 12rem;
  }  

  .inicio__icons-floating {
    width: 10rem;
  }
  /* logo de maven */
  .inicio__icons-floating:nth-child(12) {
    display: inline-block;
  }

  .parrafo {
    font-size: 3rem;
    width: 120rem;
  }
}


/***** End MEDIAQUERIES *****/